<!-- app/views/educations/_form.html.erb -->

<%= render 'shared/admin_navbar' %>

<% if education.errors.any? %>
  <ul>
    <% education.errors.messages.each do |_fields, messages| %>
      <% messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= form_with model: [:admin, @education], local: true do |f| %>
  <div>
    <%= f.label :education_name, "学历名称" %><br>
    <%= f.text_field :education_name %>
  </div>

  <div>
    <%= f.submit education.new_record? ? "添加学历" : "更新学历" %>
  </div>
<% end %>
