<!-- app/views/schools/_form.html.erb -->

<% if school.errors.any? %>
  <div style="color: red;">
    <h2><%= pluralize(school.errors.count, "错误") %>阻止了保存：</h2>
    <ul>
      <% school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: [:admin, @school], local: true do |f| %>
  <div>
    <%= f.label :school_name, "学校名称" %><br>
    <%= f.text_field :school_name %>
  </div>
  <div>
    <%= f.label :address, "地址" %><br>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.submit @school.new_record? ? "创建学校" : "更新学校" %>
  </div>
<% end %>
