<!-- app/views/schools/index.html.erb -->

<h1>学校列表</h1>

<%= render "shared/admin_navbar" %>

<!-- 显示 flash 消息 -->
<% if notice %>
  <p style="color: green;"><%= notice %></p>
<% end %>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>学校名称</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @schools.each do |school| %>
    <tr>
      <td><%= school.id %></td>
      <td><%= school.school_name %></td>
      <td style="display: flex">
        <%= link_to "查看", admin_school_path(school) %> |
        <%= link_to "编辑", edit_admin_school_path(school) %> |
        <%= button_to "删除", admin_school_path(school),style: "cursor: pointer", method: :delete, data: { turbo_confirm: "确定删除吗？" } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to "添加新学校", new_admin_school_path %>
