<!-- app/views/schools/show.html.erb -->

<h1>学校详情</h1>
<%= render 'shared/admin_navbar' %>

<p>
  <strong>ID:</strong>
  <%= @school.id %>
</p>

<p>
  <strong>学校名称:</strong>
  <%= @school.school_name %>
</p>

<p>
  <strong>地址:</strong>
  <%= @school.address %>
</p>

<%= link_to "编辑", edit_admin_school_path(@school) %> |

<%= link_to "返回列表", admin_schools_path %>
