<h1>首页</h1>

<% if current_user %>
  <a>当前登陆：<%= current_user.username %></a>
  <%= button_to "登出", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "登陆", new_user_session_path, method: :get %>
<% end %>


<hr>

<%= render "shared/user_navbar" do %>
  <% if current_user.is_superuser %>
    <%= link_to "管理页", admin_index_path %>
  <% end %>
<% end %>


<%= render "shared/major_navbar" do %>
  <% @majors.each do |major| %>
    <%= link_to major.major_name, front_teachers_path(major_id: major.id) %>
  <% end %>
<% end %>

