<h1>用户列表</h1>

<%= render "shared/admin_navbar" %>

<%= link_to "添加新用户", new_admin_user_path %>

<table>
  <thead>
  <tr>
    <th>用户名</th>
    <th>手机</th>
    <th>Email</th>
    <th>超级管理员</th>
    <th>创建时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.phone %></td>
      <td><%= user.email %></td>
      <td><%= user.is_superuser ? "是" : "否" %></td>
      <td><%= user.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      <td style="display: flex">
        <%= link_to "编辑", edit_user_registration_path(user), class: "button" %> |
        <%= button_to "删除", user_registration_path(user), method: :delete, data: { confirm: "确定删除吗？" }, class: "button" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
